@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Balsamiq+Sans&family=Chela+One&family=Chewy&family=Spicy+Rice&display=swap");

#ingredientData {
	/* border: 2px solid red; */
	display: flex;
	flex-flow: row wrap;
	width: 600px;
	height: 450px;
	justify-content: flex-end;
}
#ingredientsTitle {
	/* border: 2px solid rgb(217, 255, 0); */
	display: flex;
	width: 600px;
	height: 60px;
	font-size: 33px;
	justify-content: center;
}
#listIngredients {
	display: flex;
	width: 600px;
	justify-content: center;
	align-content: center;
}
#showMeasurements {
	/* border: 2px solid blue; */
	display: flex;
	flex-flow: column nowrap;
	width: 30%;
	text-align: left;
	font-size: 20px;
	font-family: "Balsamiq Sans";
}
#showIngredients {
	/* border: 2px solid yellow; */
	display: flex;
	flex-flow: column nowrap;
	width: 40%;
	height: 300px;
	text-align: left;
	font-size: 20px;
	font-family: "Balsamiq Sans";
}

#ingredientItem {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}
#measurementItem {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}
