#imgMeal {
  display: flex;
  width: 300px;
  height: 200px;
  margin-left: 30%;

  /* justify-items: center;
  justify-content: center; */
}
#strMeal {
  display: flex;
  width: 100%;
  font-size: 45px;
  flex-flow: row nowrap;
  justify-items: center;
  justify-content: center;
}

#category {
  display: flex;
  font-size: 20px;
  /* background-color: yellow; */
  /* width: 50%; */
  flex-flow: row wrap;
  justify-content: center;
  /* justify-items: center; */
}
#area {
  display: flex;
  font-size: 20px;

  /* width: 50%; */
  flex-flow: row wrap;
  justify-content: center;
}
#instructionsLabel {
  font-size: larger;
  font-weight: bold;
}

#instructions {
  display: flex;
  font-size: 20px;
  width: 100%;
  flex-flow: row nowrap;
}
