@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Chela+One&family=Chewy&display=swap");

a {
	text-decoration: none;
}
.App {
	text-align: center;
}

#pageHeading {
	/* border: 2px solid white; */
	display: flex;
	width: 100%;
	height: 200px;
	flex-flow: row nowrap;
	justify-content: space-around;
	background-color: black;
	color: #d2f6cb;
	align-items: center;
}

#titleDiv {
	/* border: 2px solid green; */
	display: flex;
	width: 40%;
	margin-left: 130px;
	flex-flow: nowrap;
	justify-content: center;
	background-color: black;
	font-family: "Aclonica";
}
#pageTitle {
	/* background-color: mediumspringgreen; */
	display: flex;
	width: 850px;
	height: 70px;
	font-size: 90px;
	flex-flow: nowrap;
	font-family: "Chela One";
}
#imageDiv {
	/* border: 2px solid red; */
	display: flex;
	width: 50%;
	justify-content: center;
	background-color: black;
	align-items: center;
}
#pageImage {
	display: flex;
	width: 400px;
	margin-right: 90px;
	height: 170px;
	border-radius: 70px/15px;
}
#menuIcons {
	/* border: 2px solid white; */
	display: flex;
	width: 10%;
	height: 200px;
	align-items: center;
}
#homePage {
	display: flex;
	color: white;
	font-family: "Chela One";
	font-size: 20px;
}
#iconHomePage {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 25px/25px;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 30s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#mealDetails {
	/* border: brown solid 3px; */
	margin-left: 10%;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	width: 80%;
	font-family: "Chela One";
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
